.header {
    background-image: url("/images/background.svg");
    background-repeat: no-repeat;
    background-position:right;
    backdrop-filter: 10;
    background-size: cover;
    font-weight: bolder;
    text-align: start;
}
#project img {
    height: 200px;
    width: 200px;
}
.paragraph{
    font-weight: bold;
    font-style: italic;
}

#project p {
    height: auto;
}

#portfolio{
    background-color: #3E73B4;
}
p.thick {
    font-weight: bold;
  }

.tombol {
    background-color: #12471d80 ;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}

.body{
    background-color: #3E73B4;
}
.card{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}